body {
    background-color: #1d1d1d;
    color: #fff;
    font-family: 'La Belle Aurore', cursive;
  }
  
  h1 {
    color: #fff;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 5.2rem;
    line-height: 5.7rem;
    position: relative;
  }
   .p2{
    font-family: 'Open Sans';
    color: #a5a5a5;
    font-size: 0.9rem;
    margin-top: 1rem;
   }

   .home_container{
     width: 100%;
     padding-left: 150px;
     height: 100vh;
     display: flex;
     flex-direction: column;
     position: fixed;
     top: 0;
     left: 0;
   }
  
   .text_container{
     width: 500px;
     padding-left: 10vh;
   }

   .animation_container{
    width: 100%;
    height: auto;
    padding-left: 10vh;
   }
   .content_container{
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-around;
     height: 100%;
     width: 80%;
   }
   
   @media (max-width: 900px){
     .content_container{
       flex-direction: column;
       align-items: center;
     }
     .text_container{
       text-align: center;
       padding-top: 10vh;
       padding-left: 0vh;
     }
     .content_container{
       height: 100%;
     }
     .animation_container{
       padding-top: 10vh;
       padding-left: 0vh;
     }
   }

   .content_container h1 {
    background: linear-gradient(to right, white 50%, #69C9D0 50%, #EE1D52);
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   }

   .content_container h1:hover {
    background-position: -100%;
    transition: 4s ease-out;
   }


  .menu {
    height: 100%;
    width: 150px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
  }
  
  .menu-photo {
    width: 100%;
    background:#000;
    align-items: center;
    height: 200px;
    padding: 10px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  
  .photo > img {
    height: 80%;
    width: 80%;
    object-fit: contain;
    margin-top: 20px;
  }

  .menu-nav{
    padding-top:100px;
    width: 100%;
  }
  
  .menu-social{
    margin-top: 10vh;
    height: 50%;
    width: 100%;
  }
  
  .menu h1 {
    font-family: "Open Sans",sans-serif;
    text-align: center;
    width: 100%;
    display: block;
    font-size: 1rem;
    color: #909096;
    line-height: 5rem;
    border-top: 1px solid #282828;
  }
  
  .menu h2 {
    font-family: "Open Sans",sans-serif;
    text-align: center;
    width: 100%;
    display: block;
    font-size: 1rem;
    color: #909096;
    line-height: 5rem;
    border-top: 1px solid #282828;
    border-bottom: 1px solid #282828;
    margin: 0;
    font-weight: 1;
  }
  
  
  .menu h1:hover {
    transition: all 0.25;
    color: #EE1D52;
    transition: 0.5s;
  }
  
  .menu h2:hover {
    color: #EE1D52;
    transition: 0.5s;
  }
  /*
    .tags {
    color: #515152;
    position: absolute;
    bottom: 0;
    left: 4rem;
    font-style: italic;
    font-size: 1.8rem;
    font-family: 'La Belle Aurore',cursive;
}

.top-tags {
  bottom: auto;
  top: 2rem;
}

.top-tags:after {
  content: '<body>';
  font-family: 'La Belle Aurore',cursive;
  color: #515152;
  font-size: 1.8rem;
  position: absolute;
  margin-left: 2rem;
}

.bottom-tags {
  bottom: 2rem;
  top: auto;
}

.bottom-tags:before {
  content: '</body>';
  font-family: 'La Belle Aurore',cursive;
  color: #515152;
  font-size: 1.8rem;
  position: absolute;
  margin-left: 2rem;
}
*/
