body {
    background-color: #1d1d1d;
    color: #fff;
    font-family: "Open Sans",sans-serif;
    font-size: 1.6rem
  }
  
  h1 {
    
    color: #fff;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 5.2rem;
    line-height: 5.7rem;
    position: relative;
  }
   .p2{
    font-family: 'Open Sans';
    color: #a5a5a5;
    font-size: 0.9rem;
   }

   .home_container{
     width: 100%;
     padding-left: 150px;
     height: 100vh;
     display: flex;
     flex-direction: column;
     position: fixed;
     top: 0;
     left: 0;
   }
  
   .text_container{
     width: 500px;
     padding-left: 10vh;
   }

   .animation_container{
    width: 100%;
    height: 100%;
    padding-left: 10vh;
   }
   .content_container{
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-around;
     height: 100%;
     width: 80%;
   }
 

  .menu {
    height: 100%;
    width: 150px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #181818;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .menu-photo {
    width: 100%;
    background: rgb(14, 14, 14);
    align-items: center;
    height: 200px;
    padding: 10px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  
  .photo img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

  .menu-nav{
    width: 100%;
  }
  
  .menu-social{
    color: #909096;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 15rem;
  }

  
  a {
    text-decoration: none;
  }

  .menu-nav h4 {
    font-family: "Open Sans",sans-serif;
    text-align: center;
    width: 100%;
    display: block;
    font-size: 1rem;
    color: #909096;
    line-height: 5rem;
    border-top: 1px solid #282828;
    margin: 0;
    font-weight: 1;
  }
  
  .menu-nav h5 {
    font-family: "Open Sans",sans-serif;
    text-align: center;
    width: 100%;
    display: block;
    font-size: 1rem;
    color: #909096;
    line-height: 5rem;
    border-top: 1px solid #282828;
    border-bottom: 1px solid #282828;
    margin: 0;
    font-weight: 1;
  }
  
  
  .menu h4:hover {
    color: #EE1D52;
    transition: 0.5s;
  }
  
  .menu h5:hover {
    color: #EE1D52;
    transition: 0.5s;
  }
  
.loader-wrapper{
  top: 0;
  left: 0;
  position: absolute;
  width:100%;
  height:100%;
  background: #242526;
  z-index: 1; 
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader{
  width:200px;
  height:60px;
  position: absolute;
  transform: translate(-50%, -50%);
}
.circle{
  width:20px;
  height:20px;
  position: absolute;
  border-radius: 50%;
  background-color: white;
  left:15%;
  transform-origin: 50%;
  animation: circle .5s alternate infinite ease;
}

@keyframes circle{
  0%{
      top:60px;
      height:5px;
      border-radius: 50px 50px 25px 25px;
      transform: scaleX(1.7);
  }
  40%{
      height:20px;
      border-radius: 50%;
      transform: scaleX(1);
  }
  100%{
      top:0%;
  }
}
.circle:nth-child(2){
  left:45%;
  animation-delay: .2s;
}
.circle:nth-child(3){
  left:auto;
  right:15%;
  animation-delay: .3s;
}
.shadow{
  width:20px;
  height:4px;
  border-radius: 50%;
  background-color: rgba(0,0,0,.5);
  position: absolute;
  top:62px;
  transform-origin: 50%;
  z-index: -1;
  left:15%;
  filter: blur(1px);
  animation: shadow .5s alternate infinite ease;
}

@keyframes shadow{
  0%{
      transform: scaleX(1.5);
  }
  40%{
      transform: scaleX(1);
      opacity: .7;
  }
  100%{
      transform: scaleX(.2);
      opacity: .4;
  }
}
.shadow:nth-child(4){
  left: 45%;
  animation-delay: .2s
}
.shadow:nth-child(5){
  left:auto;
  right:15%;
  animation-delay: .3s;
}
.loader span{
  position: absolute;
  top:75px;
  font-family: 'Lato';
  font-size: 20px;
  letter-spacing: 12px;
  color: white;
  left:15%;
}

.home_about{
  width: 100%;
  padding-left: 150px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
}

.about_text{
  width: 40%;
  height: auto;
  margin-left: 8vh;

}

h2{
  font-family: roboto;
  color: #08fdd8;
  font-weight: 400;
  margin-top: 0;
  position: relative;
  margin-bottom: 40px;
  left: -10px;
  font-size: 5rem;
  line-height: 6.7rem;
}

.about_text p{
  position: relative;
  margin: 1.5rem 0;
  font-size: 1.2rem;
}

.about_text .p2{
  font-family: "Open Sans",sans-serif;
  color: #08fdd8;
  font-size: 1.2rem;
  -webkit-transition: 1s;
}

.about_text .p2:hover{
  color: #08fdd870;
  transition: 0.5s;
} 

.about_text h2{
  line-height: 9vh;
}

h2:before {
  content: '<h2>';
  font-family: 'La Belle Aurore',cursive;
  color: #515152;
  font-size: 18px;
  position: absolute;
  margin-top: -3rem;
  left: -1rem;
}
h2:after {
  content: '</h2>';
  font-family: 'La Belle Aurore',cursive;
  color: #515152;
  font-size: 18px;
  position: absolute;
  left: -1rem;
  bottom: -4rem;
}

.about_text p:first-of-type:before {
  content: '<p>';
  font-family: 'La Belle Aurore',cursive;
  color: #515152;
  font-size: 18px;
  position: absolute;
  margin-top: -1.5rem;
  left: -2rem;
}
.about_text p:last-of-type:after {
    content: '<p/>';
    font-family: 'La Belle Aurore',cursive;
    color: #515152;
    font-size: 18px;
    position: absolute;
    left: -2rem;
    bottom: -2rem;
}

h1:first-of-type:before {
  content: '<h>';
  font-family: 'La Belle Aurore',cursive;
  color: #515152;
  font-size: 25px;
  margin-top: -3rem;
  left: -1rem;
  position: absolute;
}
h1:last-of-type:after {
  content: '</h>';
  font-family: 'La Belle Aurore',cursive;
  color: #515152;
  font-size: 25px;
  left: -1rem;
  bottom: -4rem;
  position: absolute;
}

.top-tags {
  bottom: auto;
  top: 2rem;
}

.top-tags:after {
  content: '<body>';
  font-family: 'La Belle Aurore',cursive;
  color: #515152;
  font-size: 1.5rem;
  position: absolute;
  margin-top: 2rem;
  margin-left: -2rem;
}

.tags {
  padding-left: 150px;
  color: #515152;
  position: absolute;
  bottom: 0;
  left: 4rem;
  font-style: italic;
  font-size: 1.5rem;
  font-family: 'La Belle Aurore',cursive;
}

.bottom-tags {
  bottom: 2rem;
  top: auto;
}

.bottom-tags:before {
  content: '</body>';
  font-family: 'La Belle Aurore',cursive;
  color: #515152;
  font-size: 1.5rem;
  position: absolute;
  margin-left: 2.9rem;
  margin-top: -2rem;
}

.menu-social li {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content:center;
}
li{
  width: 20%;
}

li:first-of-type {
  margin-left: 10%;
}

li:last-of-type{
  margin-right: 10%;
}

.menu-social img{
  height: auto;
  width: 53%;
  object-fit: contain;
}

.menu-social a:hover{
  filter:  brightness(0) saturate(0%)   brightness(101%) contrast(98%) invert(74%) sepia(89%) saturate(460%) hue-rotate(104deg);
  transition: 0.5s;
  -webkit-transition: 1s ease-in-out;
}

.skills_container{
  width: 100%;
  padding-left: 150px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
}

 .contact_container{
  width: 100%;
  padding-left: 150px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
 }

 .skills_text{
  width: 40%;
  height: auto;
  margin-left: 8vh;

}

.skills_text p{
  position: relative;
  margin: 1.5rem 0;
  font-size: 1rem;
  line-height: 1.5rem;
}

.skills_text .p2{
  font-family: "Open Sans",sans-serif;
  color: #08fdd8;
  font-size: 1.2rem;
  -webkit-transition: 1s;
}

.skills_text .p2:hover{
  color: #08fdd870;
  transition: 0.5s;
} 

.skills_text p:first-of-type:before {
  content: '<p>';
  font-family: 'La Belle Aurore',cursive;
  color: #515152;
  font-size: 18px;
  position: absolute;
  margin-top: -1.5rem;
  left: -2rem;
}
.skills_text p:last-of-type:after {
    content: '<p/>';
    font-family: 'La Belle Aurore',cursive;
    color: #515152;
    font-size: 18px;
    position: absolute;
    left: -2rem;
    bottom: -2rem;
}

.skills_text h2 {
  width: 500px;
  line-height: 1;
  font-size: 4rem;
}

.skills_text h2:before {
  content: '<h2>';
  font-family: 'La Belle Aurore',cursive;
  color: #515152;
  font-size: 18px;
  position: absolute;
  margin-top: -1rem;
  left: -1rem;
}
.skills_text h2:after {
  content: '</h2>';
  font-family: 'La Belle Aurore',cursive;
  color: #515152;
  font-size: 18px;
  position: absolute;
  left: -1rem;
  bottom: -1.5rem;
}

.skills_text a{
  color: #08fdd8;
}

.skills_text a:hover{
  color: #EE1D52;
  transition: 0.5s;
}

.about_image {
  padding-left: 8rem;
  object-fit: contain;
}

  
@media (max-width: 1100px){

  .tags{
    display: none;
  }

  h1:first-of-type:before {
    display: none;
  }
  h1:last-of-type:after {
    display: none;
  }
  h2:before{
    display: none;
  }
  h2::after{
    display: none;
  }
  p::before{
    display: none;
  }
  p::after{
    display: none;
  }

   .content_container{
     flex-direction: column;
     align-items: center;
   }
   .text_container{
     padding-top: 40%;
     padding-left: 0vh;
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     margin: 0 auto;
   }
   .content_container{
     height: 100%;
   }
   .animation_container{
     padding-left: 0vh;
     padding-bottom: 35%;
   }
   h1 {
     font-size: 3.3rem;
   }

    .home_about {
      flex-direction: column;
    }
    .about_text {
      margin-left: 0vh;
      width: 50%;
      margin-right: 10vh;
    }
    .about_image {
      padding-left: 0vh;
      margin-right:10vh;
      margin-top: 5vh;
    }
 }

 @media (max-width: 700px){
  .content_container{
    flex-direction: column;
    align-items: center;
  }
  .text_container{
    padding-top: 40%;
    padding-left: 6vh;
    display: flex;
    flex-direction: column;
  }
  .content_container{
    height: 100%;
  }
  .animation_container{
    padding-left: 0vh;
    padding-bottom: 35%;
  }
  h1 {
    font-size: 5rem;
  }
}
