body {
    background-color: #4a4a4a;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%233f3f3f' fill-opacity='0.6'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
 }
  


.titel{
    background-color:#242526;
    padding: 0px;
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
    color:white;
    font-family: 'BioRhyme';
    font-size: 100px;
    font-weight: bold;
    position: fixed;
    top:0px;
    left: 0px;
}

.container{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 90%;
    flex-wrap: wrap;
    align-content: flex-start;
    position: fixed;
    top: 30%;
    left: 5%;
}

.item1{
    background-color: #242526;
    width: 50%;
}

.item2{
    background-color: #242526;
    width: 50%;
}