body {
    background-color: #1d1d1d;
    font-family: "Open Sans",sans-serif;
    color: #fff;
  }
  
  h1 {
    color: #fff;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 6rem;
    line-height: 5.7rem;
    position: relative;
  }
  
   .home_container{
     width: 100%;
     padding-left: 160px;
     height: 100vh;
     display: flex;
     flex-direction: column;
     position: fixed;
     top: 0;
     left: 0;
   }
  
   .content_container{
     padding-top: 30vh;
     padding-left: 100px;
   }
   
  .menu {
    height: 100%;
    width: 150px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
  }
  
  .menu-photo {
    width: 100%;
    background:#000;
    align-items: center;
    height: 200px;
    padding: 10px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    object-fit: contain;
  }
  
  .menu-nav{
    padding-top:100px;
    width: 100%;
  }
  
  .menu-social{
  
  }
  
  .menu h1 {
    font-family: "Open Sans",sans-serif;
    text-align: center;
    width: 100%;
    display: block;
    font-size: 1rem;
    color: #909096;
    line-height: 5rem;
    border-top: 1px solid #282828;
  }
  
  .menu h2 {
    font-family: "Open Sans",sans-serif;
    text-align: center;
    width: 100%;
    display: block;
    font-size: 1rem;
    color: #909096;
    line-height: 5rem;
    border-top: 1px solid #282828;
    border-bottom: 1px solid #282828;
    margin: 0;
    font-weight: 1;
  }
  
  
  .menu h1:hover {
    transition: all 0.25;
    color: #EE1D52;
  }
  
  .menu h2:hover {
    color: #EE1D52;
  }
  
  
  @media screen and (max-height: 450px) {
    .menu {padding-top: 15px;}
    .menu a {font-size: 18px;}
  }